<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="aydinlatma" value="kapali" />
    <add key="utu" value="kapali" />
    <add key="kahve_makinesi" value="kapali" />
  </appSettings>
</configuration>